@import "tailwindcss";
@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"), url("/fonts/Agustina.woff") format("woff");
}

html {
  transition: background-color 0.3s, color 0.3s;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8eff4;
  --skill-text: #231942;
  --primary: #5e548e;
  --primary-text: #231942;
  --secondary-text: #655e7a;
  --link-active: #231942;
  --link-inactive: #535252;
  --accent: #e0b1cb;
  --linear: linear-gradient(110deg, #7800ff, #f07 35%, #f9b11f 45%, #7800ff 90%)
    0 0 /300% 100%;
}

@variant dark {
  --background: #00072d;
  --skill-text: #e6e6e6;
  --primary: #be95c4;
  --primary-text: #f8eff4;
  --secondary-text: #a8a0b8;
  --link-active: #fff;
  --link-inactive: #f8eff4;
  --accent: #ff00ff;
  --linear: linear-gradient(110deg, #7800ff, #f07 35%, #f9b11f 45%, #7800ff 90%)
    0 0 /300% 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-skill-text: var(--skill-text);
  --color-primary: var(--primary);
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-link-active: var(--link-active);
  --color-link-inactive: var(--link-inactive);
  --color-accent: var(--accent);
  --color-linear: var(--linear);
}

/* others */

.header .logo {
  display: block;
  float: left;
  font-size: 1.5em;
  text-decoration: none;
  margin-top: 10px;
  line-height: normal;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 20px var(--accent);
  }
  50% {
    box-shadow: 0 0 40px var(--accent);
  }
}

@keyframes liquidFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-glow {
  animation: glow 2s ease-in-out infinite alternate;
}

.liquid-gradient {
  background: var(--linear);
  background-size: 400% 400%;
  animation: liquidFlow 4s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.logo-name {
  font-family: "Agustina Regular";
  font-weight: bold;
  padding: 0 10px;
  color: var(--skill-text);
}

.glass-morphism {
  background: rgba(75, 60, 60, 0.038);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.neuro-morphism {
  background: #1a1a1a;
  box-shadow: 20px 20px 60px #0d0d0d, -20px -20px 60px #272727;
}

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.skill-container {
  display: grid;
  gap: 1.3rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.skill-content {
  width: 10rem;
  height: 10rem;
  border-radius: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* border: 2px solid grey; */
  overflow: hidden;
  color: var(--skill-text);
}

.animated-border::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 17rem;
  left: 4.5rem;
  top: -40%;
  background: var(--border-color);
  animation: spin-border 6s linear infinite;
  border-radius: 10px;
}

.animated-border::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: var(--background);
  border-radius: 20px;
}

@keyframes spin-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

._2lGLeKv6vr5ITdzoz_1 {
  display: block;
}

input[type="tel"] {
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 100%;
  
  border: none;
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: var(--color-primary-text);
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  transition: box-shadow 0.2s, border-color 0.2s, background-color 0.2s,
    color 0.2s;
}

input[type="tel"]::placeholder {
  color: var(--color-secondary-text);
  opacity: .6;
  font-size: 15px;
}

.PhoneInput:focus-within {
  border-color: var(--color-primary-text);
  box-shadow: 0 0 0 2px var(--color-primary-text);
  outline: none;
}

.PhoneInputInput:focus,
.PhoneInputInput:focus-visible {
  outline: none;
  outline-offset: 2;
  box-shadow: none;
  border-color: transparent;
}

input[type="tel"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
